<div class="">

      <div class="row">
    <div class="col-md-3">
        
        <mat-card>
          
          <img src="https://lh4.googleusercontent.com/-8sUve5oo1JA/AAAAAAAAAAI/AAAAAAAACrM/usQsCxc2S-w/photo.jpg" class="rounded-circle mx-auto d-block img-thumbnail" width="120px" alt="">
          
          <h1></h1>
          <h4 class="text-center">

            Sowkatali Patan
          </h4>
          <p class="text-center position">
            Web Developer
          </p>

          <div class="dropdown-divider"></div>
          <div>
          <i class="far fa-envelope fa-lg"></i> <a href="mailto:shaukathpatan@gmail.com">shaukathpatan@gmail.com</a>
        </div>
          <div>
          <i class="fas fa-link fa-lg"></i> <a href="https://sowkat-ali.firebaseapp.com/">https://sowkat-ali.firebaseapp.com/</a>
          </div>

          <div class="dropdown-divider"></div>
          <i class="fab fa-twitter fa-lg"></i><i class="fab fa-facebook-f fa-lg"></i>
        </mat-card>
    </div>
    <div class="col-md-9">
        <mat-card>

            <h2>Background</h2>
            <div class="dropdown-divider"></div>
            <div class="row">
            <div class="" style="display: table-cell; margin-left:15px;">
                <i class="far fa-address-card fa-lg"></i>
            </div>
            <div class="col-md-11">
              <h4>

                About
              </h4>
              <div class="dropdown-divider"></div>
              <p>I’m a full stack web developer who loves working with open source technology. 
                I work best at planning the architecture of web applications and their development life cycles. 
                I also love to get the community involved and have had much experience with building and organizing 
                large open source groups. Specialties: React, Redux, Javascript - Full stack developer with lots of 
                experience in lots of stuff</p>
              </div>
            </div>

            <div class="row">
                <div class="" style="display: table-cell; margin-left:15px;">
                    <i class="far fa-building fa-lg"></i>
                </div>
                <div class="col-md-11">
                  <h4>
    
                    Work
                  </h4>
                  <div class="dropdown-divider"></div>
                  <span>CEO/President, </span> <a href="https://piedpiper.com"> Pied Piper</a>
                  <p>I’m a full stack web developer who loves working with open source technology. 
                    I work best at planning the architecture of web applications and their development life cycles. 
                    I also love to get the community involved and have had much experience with building and organizing 
                    large open source groups. Specialties: React, Redux, Javascript - Full stack developer with lots of 
                    experience in lots of stuff</p>
                  </div>
                </div>
            
          </mat-card>
    </div>
  
  </div>
</div>